{
    "host": "127.0.0.1",
    "port": "4000",
    "debug": false,
    "icon_url": "https://raw.githubusercontent.com/AHAAAAAAA/PokemonGo-Map/master/static/icons/{id:d}.png",
    "api_key": "YOUR SLACK API KEY",
    "channel": "#random",
    "poi": "40.758899,-73.9873197",
    "groups": {
        "important": 500,
        "regular": 50,
        "ignore": 0
    },
    "pokemon":{
        "Bulbasaur":"regular",
        "Ivysaur":"regular",
        "Venusaur":"regular",
        "Charmander":"regular",
        "Charmeleon":"regular",
        "Charizard":"regular",
        "Squirtle":"regular",
        "Wartortle":"regular",
        "Blastoise":"regular",
        "Caterpie":"regular",
        "Metapod":"regular",
        "Butterfree":"regular",
        "Weedle":"regular",
        "Kakuna":"regular",
        "Beedrill":"regular",
        "Pidgey":"regular",
        "Pidgeotto":"regular",
        "Pidgeot":"regular",
        "Rattata":"regular",
        "Raticate":"regular",
        "Spearow":"regular",
        "Fearow":"regular",
        "Ekans":"regular",
        "Arbok":"regular",
        "Pikachu":"regular",
        "Raichu":"regular",
        "Sandshrew":"regular",
        "Sandslash":"regular",
        "Nidoran♀":"regular",
        "Nidorina":"regular",
        "Nidoqueen":"regular",
        "Nidoran♂":"regular",
        "Nidorino":"regular",
        "Nidoking":"regular",
        "Clefairy":"regular",
        "Clefable":"regular",
        "Vulpix":"regular",
        "Ninetales":"regular",
        "Jigglypuff":"regular",
        "Wigglytuff":"regular",
        "Zubat":"regular",
        "Golbat":"regular",
        "Oddish":"regular",
        "Gloom":"regular",
        "Vileplume":"regular",
        "Paras":"regular",
        "Parasect":"regular",
        "Venonat":"regular",
        "Venomoth":"regular",
        "Diglett":"regular",
        "Dugtrio":"regular",
        "Meowth":"regular",
        "Persian":"regular",
        "Psyduck":"regular",
        "Golduck":"regular",
        "Mankey":"regular",
        "Primeape":"regular",
        "Growlithe":"regular",
        "Arcanine":"regular",
        "Poliwag":"regular",
        "Poliwhirl":"regular",
        "Poliwrath":"regular",
        "Abra":"regular",
        "Kadabra":"regular",
        "Alakazam":"regular",
        "Machop":"regular",
        "Machoke":"regular",
        "Machamp":"regular",
        "Bellsprout":"regular",
        "Weepinbell":"regular",
        "Victreebel":"regular",
        "Tentacool":"regular",
        "Tentacruel":"regular",
        "Geodude":"regular",
        "Graveler":"regular",
        "Golem":"regular",
        "Ponyta":"regular",
        "Rapidash":"regular",
        "Slowpoke":"regular",
        "Slowbro":"regular",
        "Magnemite":"regular",
        "Magneton":"regular",
        "Farfetch'd":"regular",
        "Doduo":"regular",
        "Dodrio":"regular",
        "Seel":"regular",
        "Dewgong":"regular",
        "Grimer":"regular",
        "Muk":"regular",
        "Shellder":"regular",
        "Cloyster":"regular",
        "Gastly":"regular",
        "Haunter":"regular",
        "Gengar":"regular",
        "Onix":"regular",
        "Drowzee":"regular",
        "Hypno":"regular",
        "Krabby":"regular",
        "Kingler":"regular",
        "Voltorb":"regular",
        "Electrode":"regular",
        "Exeggcute":"regular",
        "Exeggutor":"regular",
        "Cubone":"regular",
        "Marowak":"regular",
        "Hitmonlee":"regular",
        "Hitmonchan":"regular",
        "Lickitung":"regular",
        "Koffing":"regular",
        "Weezing":"regular",
        "Rhyhorn":"regular",
        "Rhydon":"regular",
        "Chansey":"regular",
        "Tangela":"regular",
        "Kangaskhan":"regular",
        "Horsea":"regular",
        "Seadra":"regular",
        "Goldeen":"regular",
        "Seaking":"regular",
        "Staryu":"regular",
        "Starmie":"regular",
        "Mr. Mime":"regular",
        "Scyther":"regular",
        "Jynx":"regular",
        "Electabuzz":"regular",
        "Magmar":"regular",
        "Pinsir":"regular",
        "Tauros":"regular",
        "Magikarp":"regular",
        "Gyarados":"regular",
        "Lapras":"regular",
        "Ditto":"regular",
        "Eevee":"regular",
        "Vaporeon":"regular",
        "Jolteon":"regular",
        "Flareon":"regular",
        "Porygon":"regular",
        "Omanyte":"regular",
        "Omastar":"regular",
        "Kabuto":"regular",
        "Kabutops":"regular",
        "Aerodactyl":"regular",
        "Snorlax":"regular",
        "Articuno":"regular",
        "Zapdos":"regular",
        "Moltres":"regular",
        "Dratini":"regular",
        "Dragonair":"regular",
        "Dragonite":"regular",
        "Mewtwo":"regular",
        "Mew":"regular"
    }
}